body {
    background-image: url("open-door.jpg");
    background-position: top right;
}

.formbox {
    margin: 10% auto;;
    font-family: Arial;
    font-size: 10.5pt;
    border-radius: 5px;
    background-color:#f2f2f2 ;
    padding: 20px;
    text-align: center;
    width: 20%;
}

input[type=text],input[type=password],input[type=number],input[type=email  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  font-size: 14pt;
}

input[type=text]:focus,input[type=password]:focus {
  background-color: lightblue;
}

input[type=submit] {
    background-color: #778899;
    border-radius: 4px;
    color: white;
    width: 35%;
    height: auto;;
    font-size: 13pt;
}
